<img src='{{image}}' alt='movie' width='250px' height="250px" />
<p>{{title}}</p>
<p>{{director}}</p>
<ul> Starts:
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>Description: {{description}}</p>
<p>Showtimes: {{showtimes}}</p>
